nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | Brain Blast

      svg.navigation__link__icon

    ul.navigation__list
      each item in navigation.data.list
        li.navigation__list__item
          a.nagivation__list__link(href=Link(item.link))=item.text[0].text

