nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/")
      | Brain Blast

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.nagivation__list__link(href="/about") About

      li.navigation__list__item
        a.nagivation__list__link(href="/zones") Zones

