extends ../layout

block variables
  - const template = 'details';

block content
  .detail
    .detail__wrapper
      figure.detail__media
        img.detail__media__image(alt=project.data.image.alt src=project.data.image.url)
